@mixin navigation {
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &-item {
    list-style: none;
  }

  &-link {
    text-decoration: none;
    color: color(primary);
    font-size: size(sm);
    transition: all 0.3s;

    &:hover {
      color: lighten(color(primary), 40%);
    }
  }
}

@mixin flexPosition($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
